page-login {

}
.login {
    width: 50%;
    //margin: 50px auto;
    //background-color: #F3EDED;
   // border: 1px solid #ECE8E8;
    height: 50%;
    //border-radius:8px;
   // padding: 0px 9px 0px 9px;
  // float: right;

}
.caja1{
    //float: left;
    width: 50%;
    height: 50%;
 
}

