<!--
  Generated template for the CardsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-navbar>
    <ion-title>Card's</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-list>
      <div *ngIf="afAuth.authState | async as user; ">
          <ion-card>
            <ion-list>
              <ion-item>
                <h1>Publicaciones</h1>
                  <ion-card-content *ngFor="let card of cards | async" (click)="showOptions(card.id, card.title, card.subTittle, card.uid)">
                      <ion-avatar item-start>
                          <img src={{card.photo}} >
                      </ion-avatar>
      
                      <h3>{{card.nombre}}</h3><h4>Autor de la Tarjeta</h4>
                      <h2>Titulo: {{card.title}}</h2>>> <p>==>{{card.subTitle}}</p>
                      <!--- Likes-->

                      <ion-item-group>
                          <ion-item >
                        
                              <ion-label>Like</ion-label>
                              <ion-checkbox  color="dark" checked="false" (change)="toggleEditable($event)"></ion-checkbox>
                            </ion-item>
                            
                            <ion-item>
                              <ion-label>DisLikes</ion-label>
                              <ion-checkbox  checked="false" (change)="toggleEditable($event)" ></ion-checkbox>
                            </ion-item>


                      </ion-item-group>
                      
                     
                          
    

                          
                        
                      
                   
                       <!--- Likes-->
                       


                      <ion-card>
                          <ion-list >
                              <h1>Comentarios</h1>
                            <ion-item *ngFor="let coment of coments | async">
                              
                              <ion-card-content *ngIf="coment.id == card.id" >
                                  <ion-avatar item-start>
                                      <img src={{coment.photoC}} >
                                  </ion-avatar>
                                  <h2>{{coment.nombreC}}</h2><h4>Autor del Comentario</h4>
                                <h3>{{coment.comentario}}</h3>
        
                              </ion-card-content>
                            </ion-item>
                          </ion-list>
        </ion-card>
      
                     
                      
                    </ion-card-content>
              </ion-item>
            </ion-list>
            
            
            </ion-card>
      
           
          
      
            
              
      </div>

  </ion-list>
  <ion-fab right bottom>
      <button ion-fab  (click)="addCard()">
      <ion-icon name="add" ></ion-icon>
      </button>
      </ion-fab>

      


    
     
</ion-content>
